@page
@model MyApp.Namespace.GetAllRoomsModel
@{
}

<form method="post">
    <label for="SearchString">Filter</label>
    <input asp-for="SearchString" class="form-control"/>
    <input type="submit" asp-page-handler="NameSearch" class="btn btn-primary"/>
</form>

<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>
            Country
        </th>
        <th>
            ID
        </th>
        <th>
            Capacity
        </th>
        <th>
            Equipment
        </th>
        <th>
            
        </th>
    </tr>
    </thead>
    <tbody>
     @if (@Model.m_selectedCountryRooms != null)
        {
            foreach (var room in Model.m_selectedCountryRooms)
            {
                <tr>
                    <td>
                        @room.Country
                    </td>
                    <td>
                        @room.ID
                    </td>
                    <td>
                        @room.Capacity
                    </td>
                    <td>
                        @room.EquipmentToString()
                    </td>
                    <td>
                        <button type="button">
                            <div class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/CreateBooking">Book</a>
                            </div>
                        </button>
                    </td>
                </tr>
            }
        }


    </tbody>

</table>